/* creating custom font size as in the video */
.fs-0 {
          font-size: 4rem;
}
.fs-7 {
          font-size: 0.8 rem;
}
.fs-8{
          font-size: 0.6rem;
}
.fs-9{
          font-size: 0.7rem;
}
.bg-gray{
 background-color: #f0f2f5 !important;
}


li:hover{
         
          cursor: pointer;
          background-color: rgba(239, 245, 241, 0.897);
}
.border-right {
          border-right: 1px solid #ddd;
          transition: ease-in-out .6s;
      }
     
      i{
        cursor: pointer !important;
      }
      i:hover{
        color: rgb(26, 174, 223);
        transform: scale(1.2) !important;
      }
      .bg-grey1{
             background-color: rgb(79, 77, 77);
      }

      .scrollbar:hover {
        overflow: auto !important;
      }

      .post__comment .accordion-button:after {
        margin-left: 0 !important;
        display: none !important;
        width: 30px;
      }
      
      .post__comment .accordion-button:hover{
        background: none !important;
        border-color: transparent !important;
      }

      .post__comment .accordion-button:not(.collapsed){
        /* this is to target the uncollapsed view of the accordion button */
        position: fixed;
        bottom: 0;
        width: 100%;
      }
      .post__comment .likebtn,.cmntbtn:hover{
        background-color: white !important;
      }

      
/* the mediaquery  to set the footer to be fixed in deskltop view and free in mobile view*/
@media (min-width: 62em){
  footer{
            position: fixed;
            bottom: 0;
            width: 100%;
          
  }
}